@import '../../styles/variables.scss';

.app__header{
  &-title {
    margin-top: 50px;
    color: $white-text;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
  }
  &-divider {
    margin-bottom: 52px;
    width: 362px;
    height: 4px;
    background-color: $main-color;
  }
} 

@media (max-width: 1500px) {
  .app__header{
    &-title {
      margin-top: 50px;
    }
    &-divider {
      margin-bottom: 30px;
    }
  } 
}
@media (max-width: 1200px) {
  .app__header{
    &-title {
      margin-top: 20px;
    }
  } 
}

@media (max-width: 992px) {
  .app__header{
    &-title {
      font-size: 34px;
    }
    &-divider {
      margin-bottom: 30px;
      width: 275px;
      height: 3px;
    }
  }
}

@media (max-width: 768px) {
  .app__header{
    &-title {
      font-size: 28px;
    }
    &-divider {
      margin-bottom: 20px;
      width: 200px;
      height: 3px;
    }
  }
}

@media (max-width: 576px) {
  .app__header{
    &-title {
      font-size: 20px;
    }
    &-divider {
      margin-bottom: 20px;
      width: 200px;
      height: 3px;
    }
  }
}

