@import '../../styles/variables.scss';
.prices__wrapper {
  margin: 0 auto;
  padding: 50px;
  max-width: 1340px;
  background: linear-gradient(rgba(167, 167, 172, 0.13), rgba(29, 29, 53, 0.9));
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  &-title {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    color: $white-text;
    margin-bottom: 40px;
  }
}

.prices__board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 100px;

  &-notes {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    textarea {
      width: 795px;
      padding-left: 20px;
      resize: none;
      outline: none;
      font-size: 16px;
      color: $white-text;
      border: none;
      background: none;
    }
  }
}
.notes__dots-wrapper {
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  span {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: $main-color;
  }
}

.prices__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-text;
  margin-bottom: 15px;
  div {
    display: flex;
    justify-content: start;
    width: 200px;
  }
  label {
    font-size: 18px;
    font-weight: 400;
    }
  input {
    margin-right: 8px;
    width: 66px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $white-text;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 254, 254, 0.5);
    &:focus {
      border-bottom: 1px solid $main-color;
    }
  }
  span {
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 1400px) {
  .prices {
    &__wrapper {
      padding: 20px;
    }
    &__board {
      column-gap: 80px;
    }
  }
}
@media (max-width: 1200px) {
  .prices {
    &__wrapper {
      &-title {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    &__board {
      grid-template-columns: 1fr;
      column-gap: 0px;
    }
    &__field {
      margin-bottom: 12px;
      div {
        width: 170px;
      }
      label, input, span {
        font-size: 16px;
      }
    }
    &__board-notes {
      margin-top: 40px;
      textarea {
        width: 600px;
      }
    }
  }

}
@media (max-width: 992px) {
  .prices {
    &__wrapper {
      padding: 10px;
    }
    &__board {
      column-gap: 20px;
    }
    &__field {
      margin-bottom: 10px;
      label, input, span {
        font-size: 15px;
      }
    }
    &__board-notes {
      margin-top: 20px;
      textarea {
        font-size: 14px;
        max-width: 500px;
      }
    }
  }
}
@media (max-width: 768px) {
  .prices {
    &__board-notes {
      margin-top: 10px;
      textarea {
        font-size: 12px;
        max-width: 350px;
      }
    }
  }
}
@media (max-width: 576px) {
  .prices {
    &__wrapper {
      padding: 5px;
      &-title {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    &__board {
      row-gap: 7px;
    }
    &__field {
      margin-bottom: 0px;
      div {
        max-width: 120px;
      }
      input {
        max-width: 45px;
      }
      label, input, span {
        font-size: 12px;
      }
    }

    &__board-notes {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      textarea {
        font-size: 12px;
        max-width: 100%;
      }
    }
  }
}