@import '../../styles/variables.scss';

.price {
  &__wrapper {
    max-width: 450px;
    padding: 100px 75px;
    background: linear-gradient(rgba(167, 167, 172, 0.13), rgba(29, 29, 53, 0.9));
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: $white-text;
    font-weight: 700;
  }
  &__UAH, &__USD {
    margin-bottom: 30px;
    font-size: 40px;
  }
  &__total-description,  &__usd-decription {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

@media (max-width: 1700px) {
  .price {
    &__wrapper {
      max-width: 450px;
      padding: 40px;
    }
    &__UAH, &__USD {
      margin-bottom: 25px;
    }
    &__total-description,  &__usd-decription {
      margin-bottom: 25px;
      font-size: 24px;
    }
  }
}

@media (max-width: 1400px) {
  .price {
    &__wrapper {
      max-width: 350px;
      padding: 20px;
    }
    &__UAH, &__USD {
      font-size: 30px;
      margin-bottom: 15px;
    }
    &__total-description,  &__usd-decription {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .price {
    &__wrapper {
      max-width: 250px;
      padding: 15px;
    }
    &__UAH, &__USD {
      font-size: 25px;
    }
    &__total-description,  &__usd-decription {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .price {
    &__wrapper {
      max-width: 260px;
      padding: 5px;
    }
    &__UAH, &__USD {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__total-description,  &__usd-decription {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  .price {
    &__wrapper {
      max-width: 100%;
    }
    &__UAH, &__USD {
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__total-description,  &__usd-decription {
      margin-bottom: 5px;
    }
  }
}
